@import "tailwindcss";

:root {
  /* --background: #ffffff; */
}

@theme inline {
  /* --color-background: var(--background); */
}

body {
}

.test {
  border: 1px solid red !important;
  
}

@keyframes marqueeX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}
.animate-marquee {
  animation: marqueeX 35s linear infinite;
}
.writing-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
